{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% load humanize %}

{% block title %}{{user.username}} Details{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


<!-- MAIN -->
<!-- left sidebar -->
{% block left_sidebar %}
{% include 'components/sidebars/left/sidebar.html' %}
{% endblock left_sidebar %}

<!-- main content -->
{% block content %}
<div class="bg-white dark:bg-dark-third max-w-full px-4 py-5 border-b rounded-lg mb-2 dark:border-dark-second border-gray-200 sm:px-6">
        
        <h3 class="text-xl leading-6 cursor-default dark:text-dark-txt prose rounded font-bold text-gray-900">
        Post Details
        </h3>

        <p class="mt-1 text-sm cursor-default dark:text-dark-txt text-gray-500">
        This is a post detail view, you can see the content, comment and share your thoughts on this topic.
        Hint: Add a comment by clicking in the button below that says <span class="font-bold">Comment</span>
        </p>
    </div>
<div class="bg-white max-w-full dark:bg-dark-second shadow px-4 py-5 sm:rounded-lg sm:p-6">

        <!-- POST IMAGE -->
        {% if post.image.count == 1 %}
        <div class="py-2">
            {% for img in post.image.all %}
                <img src="{{img.image.url}}" alt="Post image">
            {% endfor %}
        </div>
        {% endif %}
        
        <!-- END POST IMAGE -->

        <!-- POST MULTIPLE IMAGE -->
        {% if post.image.count > 1 %}
        <div class="py-2">
            <div class="grid grid-cols-3 gap-1">
            {% for img in post.image.all %}
                <img src="{{ img.image.url }}" alt="Post image">
                
            {% endfor %}
                
            </div>
        </div>
        {% endif %}
        <!-- END POST IMAGE -->
         
        
        <!-- POST AUTHOR -->
        <div class="flex items-center justify-between px-4 py-2">
            <div class="flex space-x-2 items-center">
                <a href="{% url 'users:profile' username=post.author.username %}" class="relative">
                    <img src="{{ post.author.profile.picture.url }}" alt="Profile picture" class="w-10 h-10 rounded-full">
                    <span class="bg-green-500 w-3 h-3 rounded-full absolute right-0 top-3/4 border-white border-2"></span>
                </a>
                <div>
                    <div class="font-semibold dark:text-dark-txt hover:text-indigo-500">
                        <a href="{% url 'users:profile' username=post.author.username %}">
                        {% if post.author.first_name %}
                            {{ post.author.first_name }} {{post.author.last_name}}
                        {% else %}
                            {{post.author.username}}
                        {% endif %}
                        
                        </a>
                    </div>
                    <span class="text-sm text-gray-500">{{post.created_one | naturaltime}}</span>
                </div>
            </div>
            
            {% if request.user == post.author %}
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div x-data="{ open: false }" class="relative inline-block text-left">
                <div>
                    <button @click="open = true" type="button" class="bg-gray-100 dark:bg-dark-second  rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-second focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    <span class="sr-only">Open options</span>
                    <!-- Heroicon name: solid/dots-vertical -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                    </svg>
                    </button>
                </div>

                <div x-show="open" x-transition:enter="ease-out duration-300" 
                      x-transition:enter-start="opacity-0" 
                      x-transition:enter-end="opacity-100" 
                      x-transition:leave="ease-in duration-200" 
                      x-transition:leave-start="opacity-100" 
                      x-transition:leave-end="opacity-0"  @click.away="open=false" class="z-10 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg dark:bg-dark-third bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="{% url 'social:post-edit' pk=post.pk%}" class="dark:hover:bg-dark-second dark:text-dark-txt text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                    Edit
                    </a>
                    <a href="{% url 'social:post-delete' pk=post.pk%}" class="dark:hover:bg-dark-second dark:text-dark-txt text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                    Delete
                    </a>
                    </div>
                </div>
            </div>
            {% endif %}
            

        </div>
        <!-- END POST AUTHOR -->

        <!-- POST CONTENT -->
        <div class="body text-justify px-4 py-2 dark:text-dark-txt">
            {% comment %} <h3 class="text-lg leading-6 font-medium dark:text-dark-txt text-gray-900">
                {{post.title}}
            </h3> {% endcomment %}
            {{post.body}}
        </div>
        <!-- END POST CONTENT -->

        <!-- POST REACT -->
        <div class="px-4 py-2">
            <div class="flex items-center justify-between">
                <div class="flex flex-row-reverse items-center">
                    
                    <span class="text-xs ml-2 text-gray-500 dark:text-dark-txt">{{post.likes.all.count}} Likes</span>
                    <div class="rounded-full grid place-items-center text-xl -ml-1 text-blue-500">
                        <i class='bx bxs-like'></i>
                    </div>
                    
                </div>
                <div class="flex flex-row-reverse items-center">
                    
                    <span class="text-xs ml-2 text-gray-500 dark:text-dark-txt">{{post.dislikes.all.count}} Dislikes</span>
                    <div class="rounded-full grid place-items-center text-xl -ml-1 text-red-500">
                        <i class='bx bxs-dislike'></i>
                    </div>
                    
                </div>
                <div class="text-gray-500 dark:text-dark-txt">
                
                    {% comment %} <span>90 comments</span>
                    <span>66 Shares</span> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- END POST REACT -->

        <!-- POST ACTION -->
        <div  x-data="{open:false}" class="py-2 px-4">
            <div class="border border-gray-200 dark:border-dark-third border-l-0 border-r-0 py-1">
                <div class="flex space-x-2">
                    
                    <form method="POST" action="{% url 'social:like' post.pk %}" class="mt-2 px-2">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{request.path}}">
                        <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                            <i class='bx bx-like'></i>
                            <p class="text-sm font-semibold">Like</p>
                        </button> 
                    </form>

                    <form method="POST" action="{% url 'social:dislike' post.pk %}" class="mt-2 px-2">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{request.path}}">
                        <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                            <i class='bx bx-dislike'></i>
                            <p class="text-sm font-semibold">Dislike</p>
                        </button> 
                    </form>

                    {% comment %} <a href="#" class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                        <i class='bx bx-bookmark-alt-plus'></i>
                        <span class="text-sm font-semibold">Bookmark</span>
                    </a> {% endcomment %}

                    <div @click="open = true" class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                        <i class='bx bx-comment'></i>
                        <span class="text-sm font-semibold">Comment</span>
                    </div>

                    <!--COmment MODAL-->
                    
                    <!--COMMENT MODAL-->
                    <div x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click.away="open = false" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        
                        <div x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="Background overlay, show/hide based on modal state." class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" @click="open = false" aria-hidden="true"></div>

                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>


                        <div class="inline-block align-bottom dark:bg-dark-second bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
                            
                            <div>
                                
                                <div class="mt-3 text-center sm:mt-5">
                                    <h3 class="text-lg leading-6 font-medium dark:text-dark-txt text-gray-900" id="modal-title">
                                    Comment Something
                                    </h3>
                                    <div class="mt-2">
                                    <p class="text-sm dark:text-dark-txt text-gray-500">
                                        Share you thoughts on this post
                                    </p>
                                    </div>
                                </div>
                            </div>

                            <div class="grid grid-cols-3">

                                <div class="mt-5 sm:mt-6 ">
                                    {% comment %} <label class="block text-sm font-medium dark:text-dark-txt text-gray-700">
                                        Body
                                    </label> {% endcomment %}
                                    <form method="POST" class="inline-flex">
                                        {% csrf_token %}
                                        {{form.comment}}
                                        <div class="block">
                                            <button type="submit" class="inline-flex items-center ml-1 px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Post
                                            </button>
                                        </div>
                                    </form>
                                    

                                </div>

                            </div>
                            <!-- Add more Grid-cols-3 -->

                        </div>


                        </div>
                    </div>
                    <!-- COMMENT POST MODAL -->



                    

                </div>
            </div>
        </div>
        <!-- END POST ACTION -->


        <!-- LIST COMMENT -->
        <div class="py-2 px-4 max-w-full">
            <!-- COMMENT -->
            {% for comment in comments %}
            {% if comment.is_parent %}
            <div class="flex space-x-2">
                <a href="{% url 'users:profile' comment.author.username %}">
                <img src="{{comment.author.profile.picture.url}}" alt="Profile picture" class="w-9 h-9 rounded-full">
                </a>
                <div>
                    <div class="bg-gray-100 dark:bg-dark-third p-2 rounded-2xl text-sm">
                        
                        <a href="{% url 'users:profile' username=post.author.username %}" class="font-semibold block hover:text-blue-500 dark:text-dark-txt"><p>{{comment.author}}</p></a>
                        
                        <span class="dark:text-dark-txt">{{comment.comment}}</span>
                        <span class="text-xs dark:text-dark-txt text-gray-500 float-right">{{comment.created_on | naturaltime}}</span>
                    </div>
                    

                    <div x-data="{open:false}" class=" text-xs text-gray-500 dark:text-dark-txt">
                        {% if request.user == comment.author %}
                            <a href="{% url 'social:comment-edit' post.pk comment.pk %}" class="font-semibold cursor-pointer">Edit</a>
                            <span>.</span>
                            <a href="{% url 'social:comment-delete' post.pk comment.pk %}" class="font-semibold cursor-pointer">Delete</a>
                            
                        {% endif %}
                        <form method="POST" action="{% url 'social:comment-like' post.pk comment.pk %}" class="pl-2 inline-flex">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xs py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                                <i class='bx bx-like'></i><span>{{comment.likes.all.count}}</span>
                                <p class="text-sm font-semibold"></p>
                            </button> 
                        </form>

                        <form method="POST" action="{% url 'social:comment-dislike' post.pk comment.pk %}" class=" inline-flex">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xs py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                                <i class='bx bx-dislike'></i><span>{{comment.dislikes.all.count}}</span>
                                <p class="text-sm font-semibold"></p>
                            </button> 
                        </form>


                        <button @click="open = true" class="inline-flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xs py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                        <i class='mr-2 bx bx-comment'></i>
                         Reply
                        </button>

                        <!-- This example requires Tailwind CSS v2.0+ -->
                        <div x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click.away="open = false" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                                <div x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="Background overlay, show/hide based on modal state." class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" @click="open = false" aria-hidden="true"></div>


                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                                <div class="inline-block align-bottom dark:bg-dark-second dark:text-dark-txt bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
                                <div>
                                    
                                    <div class="mt-3 text-center sm:mt-5">
                                    <h3 class="text-lg leading-6 font-medium dark:text-dark-txt text-gray-900" id="modal-title">
                                        Reply to Comment
                                    </h3>
                                    <div class="mt-2">
                                        <p class="text-sm text-gray-500 dark:text-dark-txt">
                                        Write your comment reply and click on post.
                                        </p>
                                    </div>
                                    
                                    <div class="mt-5 sm:mt-6 ">
                                    {% comment %} <label class="block text-sm font-medium dark:text-dark-txt text-gray-700">
                                        Body
                                    </label> {% endcomment %}
                                    <form method="POST" action="{% url 'social:comment-reply' post.pk comment.pk %}" class="inline-flex">
                                        {% csrf_token %}
                                        {{form.comment}}
                                        <div class="block">
                                            <button type="submit" class="inline-flex items-center ml-1 px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Post
                                            </button>
                                        </div>
                                    </form>
                                    

                                </div>

                                    </div>
                                </div>
                                <div class="mt-5 sm:mt-6">
                                    <button @click="open = false" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                                    Return
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>
                    
                    <!-- REPLY COMMENT -->
                    {% for child_comment in comment.children %}
                    <div class="flex space-x-2">
                        <a href="{% url 'users:profile' comment.author.username %}">
                        <img src="{{child_comment.author.profile.picture.url}}" alt="Profile picture" class="w-9 h-9 rounded-full">
                        </a>
                        <div>
                            <div class="bg-gray-100 dark:bg-dark-third p-2 rounded-2xl text-sm">
                                <a href="{% url 'users:profile' username=post.author.username %}" class="font-semibold block hover:text-blue-500 dark:text-dark-txt"><p>{{child_comment.author}}</p></a>
                                <span class="dark:text-dark-txt">{{child_comment.comment}}</span>
                            <span class="text-xs dark:text-dark-txt text-gray-500 float-right">{{child_comment.created_on | naturaltime}}</span>
                            </div>
                            <div class="p-2 text-xs text-gray-500 dark:text-dark-txt">
                                {% if request.user == child_comment.author %}
                                    <a href="{% url 'social:comment-edit' post.pk child_comment.pk %}" class="font-semibold cursor-pointer">Edit</a>
                                    <span>.</span>
                                    <a href="{% url 'social:comment-delete' post.pk child_comment.pk %}" class="font-semibold cursor-pointer">Delete</a>
                                    
                                {% endif %}
                                <form method="POST" action="{% url 'social:comment-like' post.pk child_comment.pk %}" class="pl-2 inline-flex">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xs py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                                        <i class='bx bx-like'></i><span>{{child_comment.likes.all.count}}</span>
                                        <p class="text-sm font-semibold"></p>
                                    </button> 
                                </form>

                                <form method="POST" action="{% url 'social:comment-dislike' post.pk child_comment.pk %}" class=" inline-flex">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button type="submit" class=" flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xs py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                                        <i class='bx bx-dislike'></i><span>{{child_comment.dislikes.all.count}}</span>
                                        <p class="text-sm font-semibold"></p>
                                    </button> 
                                </form>

                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                     
                    <!-- END REPLY COMMENT -->

                </div>
            </div>
            {% endif %}
            {% endfor %}
            
            <!-- END COMMENT -->

        </div>
        <!-- END LIST COMMENT -->
   

<!--end visible post-->
</div>
{% endblock content %}

<!-- right content -->
{% block right_sidebar %}
{% endblock right_sidebar %}


<!-- FOOTER -->
{% block footer %}

{% endblock footer %}


{% block javascript %}{% endblock javascript %}