{% load static %}
<div class="mt-auto p-6 text-sm text-gray-500 dark:text-dark-txt">
    
    <a href="#">Privacy</a>
    <span>.</span>
    <a href="#">Terms</a>
    <span>.</span>
    <a href="#">Billing</a>
    <span>.</span>
    <a href="#">Subscriptions</a>
    
    <span>.</span>
    <a href="#">Cookies</a>
    <span>.</span>

    {% if user.is_authenticated %}
    <a class="hover:underline" href="{% url 'account_logout' %}">Logout</a>
    {% endif %}


    <p class="cursor-default text-xs text-gray-100 dark:text-dark-txt">Sachsen Cob&uumlrg Gotha &copy; 2021</p>
</div>